# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.vspscc
*.vssscc
.vscode/
.idea/

# Other
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml